!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Nerdyboy'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Nerdyboy'}"}
    = javascript_include_tag 'application'
    = stylesheet_pack_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
    = csrf_meta_tags
  %body
    %header
      %nav.navbar.navbar-expand-lg.navbar-expand-md.navbar-light.pb-0.bg-white
    %main{:role => "main"}
      = render 'layouts/messages'
      .container
        = yield
:sass
  header
    padding: 30px
    background-color: white
